:root{
  --primarycolor:  #29313E;
  --secundarycolor: #FDFDFD;
  --listcolor:#6d7985;
}

body{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 100px 24em 1fr 1fr;
}

.main-header{
  display: grid;
  background-color: var(--primarycolor);
  text-align: center;
  width: 100%;
  grid-column: 1 / span 12;
}

.logo img{
  width: 48px;
  height: 48px;
}

.menu-content{
  background-color: var(--primarycolor);
  text-align: left;
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

.list{
  margin-bottom: 1em;
  margin-left: 1em;
}

.list:last-child{
  margin-bottom: 0;
}

.list a{
  color: var(--listcolor);
  text-decoration: none;
}

.list a:hover{
  color: var(--secundarycolor);
  border-bottom: 2px solid;
}

.search{
  background-color: var(--primarycolor);
  width: 100%;
  border: none;
}

.search:focus{
  outline: none;
}

.nav-toggle{
  display: none;
}

.nav-toggle-label{
  display: inline-grid;
  width: 28px;
  height: 30px;
}

.nav-toggle-label span:after,
.nav-toggle-label span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
.nav-toggle-label span:after{
  top: 9px;
}
.nav-toggle-label span {
  position: relative;
  display: block;
}

.nav-toggle-label span,
.nav-toggle-label span:after,
.nav-toggle-label span:before{
  width: 28px;
  height: 5px;
  background-color: var(--secundarycolor);
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

main{
  grid-column: 1 / span 12;
}

.magazine-principal{
  display: grid;
  background-color: var(--primarycolor);
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 5em auto auto 1em; /* hace el salto de glith corregir */
}

@media screen and (min-width: 1000px) {

  .nav-toggle-label{
    display: none;
  }

  .main-header{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
  }

  .logo{
    grid-column: 2 / span 1;
    width: 100%;
  }

  .menu-content{
    all: unset;
    grid-column: 3 / span 6;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }

  .menu-toggle{
    display: flex;
    justify-content: center;
    grid-column:  19 / span 1;
  }

  .search{
    font-size: 1.1rem;
    color: var(--secundarycolor);
    grid-column: 14/ span 4;
    box-sizing: border-box;
    height: 50%;
    margin-top: 4%;
  }

  .search:focus{
    border-bottom: 1px solid;
    transition: 250ms;
  }


  .nav-bar{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .principal-account{
    color: var(--listcolor);
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    writing-mode: sideways-lr;
    text-align: center;
    align-items: center;
  }

  .principal{
    color: var(--secundarycolor);
    grid-column: 3 / span 6;
    grid-row: 2/ span 1;
  }

  .principal h2{
    font-size: 4.5em;
    margin-bottom: 10px;
  }

  .principal h4{
    color:var(--listcolor);
  }

  .principal hr{
    color:var(--listcolor);
    background-color: var(--listcolor);
    border: none;
    width: 9%;
    height: 3px;
    display: inline-flex;
  }

  .principal a{
    color: var(--listcolor);
    border: none:
  }

  .number-magazine{
    color: var(--listcolor);
    display: grid;
    grid-column: 12/ span 1;
    grid-row: 1/ span 1;
    writing-mode: vertical-lr;
    text-align: center;
    align-items: center;
  }

  .phrase{
    color: var(--listcolor);
    display: grid;
    grid-column: 12/ span 1;
    grid-row: 3/ span 1;
    writing-mode: vertical-lr;
    text-align: center;
    align-items: center;
  }

  .cover-main{
    grid-column: 13/ span 6;
    grid-row: 1/ span 4;
    width: 100%;
  }

  .social-media{
    grid-column: 15/ span 2;
    grid-row: 3/ span 1
  }

}
